<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yang.douban">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        tools:replace="android:icon"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/douban"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoadActivity" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".Register2Activity" />
        <activity android:name=".ReviseActivity" />
        <activity android:name=".ChangeCodeActivity" />
        <activity android:name=".BookDetailActivity" />
        <activity android:name=".ArticleDetailActivity" />
        <activity android:name=".MyGoodBookActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".BookCollectionActivity" />
        <activity android:name=".ArticleCollectionActivity" />
        <activity android:name=".MyReviewActivity"></activity>
    </application>

</manifest>